{
  "plugins": [
    "transform-react-jsx",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    ["flow-runtime", {
        "assert": true,
    }],
  ],

  "env": {
    "test": {
      "plugins": [
        "transform-async-to-generator"
      ],
      "presets": [
        "es2015"
      ]
    },
  },
}
