<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.company.androidapp" id="com.company.app" ios-CFBundleIdentifier="com.company.iosapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>
        Rad React Template
    </name>
    <description>
        Template for 'phonegap serve' with webpack bundle.js script.
    </description>
    <author email="reslav.hollos@gmail.com" href="http://radivarig.github.io" />
    <preference name="permissions" value="none" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <content src="index.html" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-installLocation" value="auto" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
</widget>
