{
    "plugins": [
        ["flow-runtime", {
            "assert": true,
            "decorate": true
        }],
        "transform-flow-strip-types",
        "transform-async-to-generator",
        "transform-object-rest-spread",
        "transform-runtime",
    ],
    "presets": [
        "es2015"
    ],
    retainLines: true,
}
